**/*.pyc
*.pyo
/*~
/*.bak
/.env
/.venv
/*.log
/media
/staticfiles
/.vscod
.idea/
/venv
/node_modules
/*.swp
/*.swo
/*.conf
/local_settings.py
/*.dump
/locale
/API_Gateway/.idea
/FP_Fixed/.idea
/FP_Fixed/db.sqlite3
/FP_Fixed/__pycache__
/API_Gateway/__pycache__
/FP_Fixed/venv
/data
__pycache__/
db.sqlite3
**/venv/
**/.idea/

#TODO: FIX .gitignore